@media (min-width: 769px) {
  .owner-img-1 {
    display: block !important;
  }
  .owner-img-2 {
    display: none !important;
  }
  .top-25 {
    top: 25px;
  }
  .bot-0 {
    bottom: 50px !important;
  }
}
@media (max-width: 450px) {
  .flower-img {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .owner-img-1 {
    display: none !important;
  }
  .owner-img-2 {
    display: block !important;
  }
  .py-10 {
    padding: 30px 30px 60px 30px;
  }
  .pag-btn {
    bottom: -40px !important;
  }
  .mt-196 {
    margin-top: 36px !important;
  }

  .col-md-5,
  .col-md-7 {
    flex: 1;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
  }
  .mt-196 {
    margin-top: 30px;
  }
  .right-0-f {
    right: 40px !important;
    left: auto;
    top: 70px;
  }

  .b-0 {
    bottom: -70px !important;
    right: 130px !important;
    left: auto !important;
  }
  .fs-40 {
    font-size: 30px !important;
  }
  .fs-4 {
    font-size: 16px !important;
  }
  .r-20 {
    right: -60px !important;
  }
}
@media (max-width: 992px) {
  .w-683 {
    width: 100% !important;
  }
  .w-45-per {
    width: 100% !important;
  }
  .mt-196 {
    margin-top: 126px;
  }
  .container-l {
    padding-left: 46px;
  }
}
@media (min-width: 300px) and (max-width: 640px) {
  .fs-16 {
    font-size: 14px !important;
  }
  .fs-20 {
    font-size: 16px !important;
  }
  .pb-151 {
    padding-bottom: 51px;
  }
  .fs-24 {
    font-size: 18px !important;
  }
  .fs-56 {
    font-size: 30px !important;
  }
  .fs-64 {
    font-size: 36px !important;
  }
  .fs-72 {
    font-size: 44px !important;
  }
  .mt-83 {
    margin-top: 40px !important;
  }
  .mt-33 {
    margin-top: 15px !important;
  }
  .mt-121 {
    margin-top: 40px !important;
  }
  .pad-gradient {
    padding-top: 50px;
    padding-bottom: 53px;
  }
  .mt-151 {
    margin-top: 51px;
  }
  .mt-96 {
    margin-top: 26px;
  }
  .container-l {
    padding-left: 16px;
  }
  .t-4 {
    top: 40px;
  }
  .mt-240 {
    margin-top: 80px;
  }

  .r-20 {
    right: -20px;
  }
  .bot-4 {
    bottom: 16px;
  }
  .r-10,
  .r-100 {
    top: -38px;
  }
  .r-10 {
    right: -60px;
  }
  .r-100 {
    right: 25px;
  }
}
@media (min-width: 641px) and (max-width: 768px) {
  .fs-16 {
    font-size: 14px !important;
  }
  .fs-24 {
    font-size: 20px !important;
  }
  .fs-56 {
    font-size: 36px !important;
  }
  .fs-64 {
    font-size: 46px !important;
  }
  .fs-72 {
    font-size: 54px !important;
  }
  .mt-83 {
    margin-top: 55px !important;
  }
  .mt-33 {
    margin-top: 25px !important;
  }
  .mt-121 {
    margin-top: 60px !important;
  }
  .pad-gradient {
    padding-top: 50px;
    padding-bottom: 53px;
  }
  .mt-151 {
    margin-top: 71px;
  }
  .mt-96 {
    margin-top: 46px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .fs-16 {
    font-size: 14px !important;
  }
  .fs-24 {
    font-size: 22px !important;
  }
  .fs-56 {
    font-size: 42px !important;
  }
  .mt-83 {
    margin-top: 65px !important;
  }
  .mt-33 {
    margin-top: 33px !important;
  }
  .mt-121 {
    margin-top: 80px !important;
  }
  .mt-240 {
    margin-top: 150px;
  }
  .mt-151 {
    margin-top: 91px;
  }
  .mt-96 {
    margin-top: 66px;
  }
}
@media (min-width: 1024px) and (max-width: 1220px) {
  .fs-16 {
    font-size: 14px !important;
  }
  .fs-56 {
    font-size: 50px !important;
  }
  .fs-64 {
    font-size: 52px !important;
  }
  .fs-72 {
    font-size: 62px !important;
  }
  .mt-83 {
    margin-top: 75px !important;
  }
  .mt-121 {
    margin-top: 100px !important;
  }
  .mt-151 {
    margin-top: 111px;
  }
  .mt-240 {
    margin-top: 200px;
  }
}
@media (min-width: 576px) {
  .download-card img {
    max-width: 70px;
  }
}
@media (min-width: 992px) {
  .download-card img {
    max-width: 90px;
  }
}
/* media */

@media (min-width: 300px) and (max-width: 1200px) {
  .subscribe {
    margin-left: -45px !important;
  }
  .mt-50 {
    margin-top: 20px;
  }
  .pb-151 {
    padding-bottom: 121px;
  }
}
@media (min-width: 300px) and (max-width: 700px) {
  .fs-16 {
    font-size: 14px;
  }
  .pb-151 {
    padding-bottom: 81px;
  }
  .fs-18 {
    font-size: 16px;
  }
  .container-custom {
    max-width: 1240px;
    margin: auto;
    padding: 0px 16px;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .container-custom {
    max-width: 1240px;
    margin: auto;
    padding: 0px 16px;
  }
}
